/* Basic style rule to outline and space block-level elements */
[class*="span"] {
    background: #111;
    margin-bottom: 10px;
}

.navbar .brand2 {
	display: block;
	float: left;
	padding: 10px 1px 10px;
	margin-left: -5px;
	font-size: 16px;
	font-weight: bold;
	color: #777777;
}

.navbar .brand3 {
    display: block;
    float: left;
    padding: 9px 0px 0px;
    margin-left: -5px;
    font-size: 16px;
    font-weight: bold;
    color: #777777;
}

.hero-unit {
	padding: 60px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background-color: #111;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.floatLeft { 
    float: left; 
    margin: 4px; 
}

.verttable {display: table;}

.vertcell {
    display: table-cell;
    vertical-align: middle;
}

.goldbox {
	border-style:solid;
	border-color:gold;
	border-width:1px;
}

.portalmain {
	height: 185px;
}

.portaldisplay {
	height: 140px;
}


.portalspacing {
	height: 40px;
}


.portalmain > h3, h4 {
	line-height:175px;
}

.portaldisplay > h3, h4 {
	line-height:90px;
}

.navbar-inverse .brand2,
.navbar-inverse .nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .brand2 {
  color: #999999;
}


.navbar .nav > li > a {
  padding: 10px 9px 10px;
}


body {
	padding-top: 44px; 
	background-color:#111;
}

/* Basic background colors for responsive break points */
/* Max-width 480px landscape phone and down */
@media (max-width: 480px) {
    .container {
        /*background: #f1ea81;*/
    }
    .container:after {
        /*content: "Max-width 480px landscape phone and down";*/
    }
}
/* Min-width 481px and max-width 767px landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        /*background: #a7f7e5;*/
    }
    .container:after {
        /*content: "Min-width 481px and max-width 767px landscape phone to portrait tablet";*/
    }
}
/* Min-width 768px and max-width 979px portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 979px) {
    .container {
        /*background: #c4deff;*/
    }
    .container:after {
        /*content: "Min-width 768px and max-width 979px, portrait tablet to landscape";*/
    }
}
/* Min-width 980px widescreen display */
@media (min-width: 980px) and (max-width: 1199px) {
  .container {
        /*background: #fde3ff;*/
    }
    .container:after {
        /*content: "Min-width 980px, max-width 1199px, desktop format";*/
    }
}
/* Min-width 1200px widescreen display */
@media (min-width: 1200px) {
  .container {
        /*background: #ffc4c4;*/
    }
    .container:after {
        /*content: "Min-width 1200px, widescreen format";*/
    }
}